@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --tron-blue: #92fdfe;
  --tron-red: #f52000;
  --whyte: #fdfdfb;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-tron-red: var(--tron-red);
  --color-tron-blue: var(--tron-blue);
  --color-whyte: var(--whyte);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

.red {
  --background: black;
  --foreground: var(--tron-red);
}

.blue {
  --background: black;
  --foreground: var(--tron-blue);
}

.light {
  --background: var(--whyte);
  --foreground: black;
}

body::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

/* * {
  outline: 1px solid red;
} */
