@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-giants-orange: #ff521b;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

[data-theme="dark"] {
  --background: black;
  --foreground: var(--color-giants-orange);
}

[data-theme="light"] {
  --background: #ff521b;
  --foreground: black;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::selection {
  background-color: var(--color-foreground);
  color: var(--color-background);
}

/* * {
  outline: 1px solid red;
} */
